<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bys.ots.dao.OrderTableMapper">
  <resultMap id="BaseResultMap" type="com.bys.ots.model.OrderTable">
  <!--
      WARNING - @白瑞华
    -->
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="e1_order_id" jdbcType="VARCHAR" property="e1OrderId" />
    <result column="sku" jdbcType="VARCHAR" property="sku" />
    <result column="prompt_good_center_name" jdbcType="VARCHAR" property="promptGoodCenterName" />
    <result column="technology_group" jdbcType="VARCHAR" property="technologyGroup" />
    <result column="sale" jdbcType="INTEGER" property="sale" />
  	<result column="good_receiver" jdbcType="VARCHAR" property="goodReceiver" />
  	<result column="user_count_id" jdbcType="VARCHAR" property="userCountId" />
  	<result column="order_state" jdbcType="INTEGER" property="orderState" />
  	<result column="order_type" jdbcType="DATE" property="orderType" />
  	<result column="purchase_time" jdbcType="VARCHAR" property="purchaseTime" />
  	<result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
  	<result column="distributionCenterId" jdbcType="VARCHAR" property="distributionCenterId" />
  </resultMap>
 
  <insert id="insert" parameterType="com.bys.ots.model.OrderTable">
    insert into order_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="e1OrderId != null">
        e1_order_id,
      </if>
       <if test="sku != null">
        sku,
      </if>
       <if test="promptGoodCenterName != null">
        prompt_good_center_name,
      </if>
       <if test="technologyGroup != null">
        technology_group,
      </if>
       <if test="sale != null">
        sale,
      </if>
       <if test="goodReceiver != null">
        good_receiver,
      </if>  
         <if test="userCountId != null">
        user_count_id,
      </if>
         <if test="orderState != null">
        order_state,
      </if>
         <if test="orderType != null">
        order_type,
      </if>
         <if test="purchaseTime != null">
        purchase_time,
      </if>
         <if test="isDeleted != null">
        is_deleted,
      </if>
          <if test="distributionCenterId != null">
        distributionCenterId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId},
      </if>
      <if test="e1OrderId != null">
        #{e1OrderId},
      </if>
      <if test="sku != null">
        #{sku},
      </if>
       <if test="promptGoodCenterName != null">
        #{promptGoodCenterName},
      </if>
       <if test="technologyGroup != null">
        #{technologyGroup},
      </if>
       <if test="sale != null">
        #{sale},
      </if>
       <if test="goodReceiver != null">
        #{goodReceiver},
      </if>
           <if test="userCountId != null">
        #{userCountId},
      </if>
         <if test="orderState != null">
        #{orderState},
      </if>
         <if test="orderType != null">
        #{orderType},
      </if>
         <if test="purchaseTime != null">
        #{purchaseTime},
      </if>
         <if test="isDeleted != null">  
        #{isDeleted},
      </if>
          <if test="distributionCenterId != null">
        #{distributionCenterId},
      </if>
    </trim>
  </insert>

      <select id="findByOrderId" resultType="com.bys.ots.model.OrderTable" parameterType="String">
    select * from order_table  
	   <where>
	   <if test="orderId != null">
	        and  order_id = #{orderId}
	    </if> 
	    <if test="1 ==1">
	          and is_deleted = 0
	    </if> 
	  </where>  
   </select>   
       <select id="findByEmail" resultType="com.bys.ots.model.OrderTable" parameterType="String">
    select * from order_table t1,user_info t2
	   <where>
	     <if test="1 == 1">
	        and  t1.user_id = t2.user_id
	    </if> 
	      <if test="1 == 1">
	        and  t1.is_deleted = 0
	    </if> 
	     <if test="1 == 1">
	        and  t2.is_deleted = 0
	    </if> 
	   <if test="email != null">
	        and  t2.email = #{email}
	    </if> 
	  </where>  
   </select> 
</mapper>
